@charset "UTF-8";
html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-size: 26.66666667vw;
  font-family: "冬青黑体", helvetica, arial, sans-serif;
  background-color: #ffffff;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
menu,
dl,
dt,
dd,
ul,
ol,
li,
form,
button,
input,
textarea,
select,
th,
td {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: .13rem;
}

a {
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  color: inherit;
  outline: 0;
}

a:active {
  outline: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #adaada;
}

div {
  box-sizing: border-box;
}

div:after,
ul:after,
div::after,
ul::after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

input,
textarea {
  border: none;
  outline: none;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

video {
  width: 100%;
  height: 2.3rem;
}

input {
  background-color: inherit;
}

input::input-placeholder,
textarea::input-placeholder {
  color: #69678e;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #69678e;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #69678e;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #69678e;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #69678e;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select {
  outline: none;
  text-decoration: none;
}

select::-ms-expand {
  display: none;
}

option::-ms-expand {
  display: none;
}

option {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari 和 Chrome */
  appearance: none;
}

.none {
  display: none !important;
}

.block {
  display: block !important;
}

.inline {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.col {
  margin-right: 0 !important;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.body-fixed {
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
  height: 100%;
}

.common-tip {
  position: fixed;
  z-index: 2000;
  line-height: .2rem;
  padding: .12rem;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
}

/*背景色*/
.bg-commen {
  background-color: #27263d !important;
}

/*字体色*/
.text-common {
  color: #adaada !important;
}

.text-red {
  color: #ef1f46 !important;
}

.text-yellow-green {
  color: #d0ff00 !important;
}

.text-green {
  color: #05ff98 !important;
}

.text-gray {
  color: #69678e !important;
}

/*图标*/
.icon {
  display: inline-block;
}

.close-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/close.png") no-repeat center;
  background-size: 100%;
}

.login-logo-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/login_logo.png") no-repeat center;
  background-size: 100%;
}

.user-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/ID.png") no-repeat center;
  background-size: 100%;
}

.password-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/password.png") no-repeat center;
  background-size: 100%;
}

.save-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/save.png") no-repeat center;
  background-size: 100%;
}

.email-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/email.png") no-repeat center;
  background-size: 100%;
}

.tip-wrong-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/zhuyi.png") no-repeat center;
  background-size: 100%;
}

.page-logo-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/page_logo.png") no-repeat center;
  background-size: 100%;
}

.index-user-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/nav_user.png") no-repeat center;
  background-size: 100%;
}

.index-search-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/sousuo.png") no-repeat center;
  background-size: 100%;
}

.index-class-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/fenlei_index.png") no-repeat center;
  background-size: 100%;
}

.nav-sanjiao-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/xiangxia.png") no-repeat center;
  background-size: 100%;
}

.man-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/man.png") no-repeat center;
  background-size: 100%;
}

.woman-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/wm.png") no-repeat center;
  background-size: 100%;
}

.nav-grzx-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/zhongxin.png") no-repeat center;
  background-size: 100%;
}

.nav-home-page-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/zhuye.png") no-repeat center;
  background-size: 100%;
}

.nav-vod-upload-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/upload_vod.png") no-repeat center;
  background-size: 100%;
}

.nav-tuichu-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/tuichu.png") no-repeat center;
  background-size: 100%;
}

.title-vod-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/shipin.png") no-repeat center;
  background-size: 100%;
}

.title-img-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/meitu.png") no-repeat center;
  background-size: 100%;
}

.title-news-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/zixun.png") no-repeat center;
  background-size: 100%;
}

.free-label-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/mianfei.png") no-repeat center;
  background-size: 100%;
}

.pay-label-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/fufei.png") no-repeat center;
  background-size: 100%;
}

.vip-label-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/huiyuan.png") no-repeat center;
  background-size: 100%;
}

.add-white-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/add_white.png") no-repeat center;
  background-size: 100%;
}

.pop-tip-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/gantan.png") no-repeat center;
  background-size: 100%;
}

.jiantou-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/xia.png") no-repeat center;
  background-size: 100%;
}

.jiantou-icon.active {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/shang.png") no-repeat center;
  background-size: 100%;
}

.info-class-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/fenlei.png") no-repeat center;
  background-size: 100%;
}

.info-bf-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/bofang.png") no-repeat center;
  background-size: 100%;
}

.info-day-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/riqi.png") no-repeat center;
  background-size: 100%;
}

.pl_del_icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/delete.png") no-repeat center;
  background-size: 100%;
}

.pl_jubao_icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/jubao.png") no-repeat center;
  background-size: 100%;
}

.pl_hf_icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/huiuf.png") no-repeat center;
  background-size: 100%;
}

.pl_dz_icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/dz.png") no-repeat center;
  background-size: 100%;
}

.pl_dz_icon.active {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/dz_active.png") no-repeat center;
  background-size: 100%;
}

.pl-gift-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/liwu.png") no-repeat center;
  background-size: 100%;
}

.pl-cz-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/chongzhi.png") no-repeat center;
  background-size: 100%;
}

.write-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/pl.png") no-repeat center;
  background-size: 100%;
}

.info-see-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/liulan.png") no-repeat center;
  background-size: 100%;
}

.center-white-turn-right-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/xiangzuob.png") no-repeat center;
  background-size: 100%;
}

.center-page-vod-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/sp.png") no-repeat center;
  background-size: 100%;
}

.center-page-news-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/zx.png") no-repeat center;
  background-size: 100%;
}

.center-page-img-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/pt.png") no-repeat center;
  background-size: 100%;
}

.center-page-recharge-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/cz.png") no-repeat center;
  background-size: 100%;
}

.center-page-money-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/cwgl.png") no-repeat center;
  background-size: 100%;
}

.center-page-info-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/xgzl.png") no-repeat center;
  background-size: 100%;
}

.center-select-sanjiao-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/xiangxia.png") no-repeat center;
  background-size: 100%;
}

.delete-img-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/gb.png") no-repeat center;
  background-size: 100%;
}

.dashang-sanjiao-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/sanjiao.png") no-repeat center;
  background-size: 100%;
}

.zfb-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/zfb.png") no-repeat center;
  background-size: 100%;
}

.weixin-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/wx.png") no-repeat center;
  background-size: 100%;
}

.yue-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/ye.png") no-repeat center;
  background-size: 100%;
}

.radio-select-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/wd.png") no-repeat center;
  background-size: 100%;
}

.radio-select-icon.active {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/dag.png") no-repeat center;
  background-size: 100%;
}

.tip-right-sanjiao-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/jt.png") no-repeat center;
  background-size: 100%;
}

.clear-word-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/clear.png") no-repeat center;
  background-size: 100%;
}

.sc-icon {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/shoucang.png") no-repeat center;
  background-size: 100%;
}

.sc-icon.active {
  background: url("https://cdn.jsdelivr.net/gh/wcvideos/css@master/shoucang_active.png") no-repeat center;
  background-size: 100%;
}
